{% extends 'staff/Dashboard/base.html' %}
{% load static %}
{% block body %}
   

         <div class="page-wrapper">
            <h1>Hello world!</h1>

            <footer>
               <p>Copyright © 2020 Dreamguys.</p>
            </footer>
         </div>
      </div>
      <script src="{%static 'assets/js/jquery-3.6.0.min.js' %}"></script>
      <script src="{%static 'assets/js/popper.min.js' %}"></script>
      <script src="{%static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{%static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
      <script src="{%static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
      <script src="{%static 'assets/plugins/apexchart/chart-data.js' %}"></script>
      <script src="{%static 'assets/js/script.js' %}"></script>
   </body>
   
</html>

{% endblock %}
